build/
minibox-diag.log
tests/roms-local/
tests/firmware-local/
waterbox/tests/work/
waterbox/obj-native/
waterbox/obj-guest/
waterbox/work/
build-*.log
waterbox/bin/
submodules.log
tests/ps3/*/build/
tests/ps3/*/*.elf
tests/ps3/*/*.map
